# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autofix_commit_msg: "chore(pre-commit): :pencil2: automatic fixes"
  autoupdate_commit_msg: "ci(pre-commit): :construction_worker: update pre-commit CI version"

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen

  # Use the mirror since the main `typos` repo has tags for different
  # sub-packages, which confuses pre-commit when it tries to find the latest
  # version
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.39.2
    hooks:
      - id: typos
