project:
  type: rostools-theme
  pre-render:
    - quarto render slides/*.qmd
  resources:
    - slides/*.html

book:
  title: "Advanced Reproducible Research in R"
  subtitle: "A workshop on creating collaborative and automated analysis pipelines"
  cover-image: "images/cover.svg"
  cover-image-alt: "Three people working together to brainstorm, design, and develop a project."
  author:
    - name: Luke William Johnston
      affiliation: "Steno Diabetes Center Aarhus"
      orcid: "0000-0003-4169-2616"
    - name: Anders Askeland
  date: last-modified
  repo-url: https://github.com/rostools/r-cubed-advanced
  site-url: https://r-cubed-advanced.rostools.org
  chapters:
    - index.qmd
    - part: "Overview"
      chapters:
        - overview/syllabus.qmd
        - overview/is-this-for-you.qmd
        - overview/schedule.qmd
        - overview/learning-design.qmd
    - part: "Pre-workshop"
      chapters:
        - pre-workshop/overview.qmd
        - pre-workshop/pre-reading.qmd
        - pre-workshop/code-of-conduct.qmd
        - pre-workshop/installing-programs-r.qmd
        - pre-workshop/connect-github.qmd
        - pre-workshop/installing-r-packages.qmd
        - pre-workshop/setup-git.qmd
        - pre-workshop/create-project.qmd
        - pre-workshop/download-data.qmd
        - pre-workshop/survey.qmd
    - part: "Sessions"
      chapters:
        - sessions/introduction.qmd
        - sessions/dependencies.qmd
        - sessions/pipelines.qmd
        - sessions/stats-analyses-basic.qmd
        - sessions/stats-analyses-multiple.qmd
        - sessions/project-work.qmd
        - sessions/conclusion.qmd
  appendices:
    - appendix/for-teachers.qmd
    - CHANGELOG.md
    - CONTRIBUTING.md
    - text: License
      href: LICENSE.md
    - appendix/references.qmd
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.md
      - text: "Code of Conduct"
        href: "pre-workshop/code-of-conduct.qmd"

bibliography:
- "includes/references.bib"
- "includes/packages.bib"

format:
  rostools-theme-html:
    theme:
      - brand
    include-before-body:
      - "includes/site-counter.html"

editor:
  markdown:
    wrap: 72
    canonical: true

metadata-files:
  - _metadata.yml
