project:
  type: book
  output-dir: public
  execute-dir: project
  pre-render:
    - mkdir -p _temp
    - bash _build-slides.sh
  resources:
    - slides/*.html

book:
  title: "Advanced Reproducible Research in R"
  subtitle: "An advanced workshop on creating collaborative and automated analysis pipelines"
  author:
    - "Luke W. Johnston"
  site-url: "https://r-cubed-advanced.rostools.org"
  repo-url: "https://github.com/rostools/r-cubed-advanced"
  chapters:
    - index.qmd
    - part: "Preamble"
      chapters:
      - preamble/syllabus.qmd
      - preamble/schedule.qmd
      - preamble/pre-course.qmd
    - part: "Sessions"
      chapters:
      - sessions/introduction.qmd
      - sessions/smoother-collaboration.qmd
      - sessions/pipelines.qmd
      - sessions/stats-analyses-basic.qmd
      - sessions/stats-analyses-multiple.qmd
      - sessions/build-website.qmd
  appendices:
    - appendix/social.qmd
    - appendix/resources.qmd
    - LICENSE.md
    - appendix/references.qmd
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.html
      - text: "Code of Conduct"
        href: "https://guides.rostools.org/conduct.html"

bibliography:
  - includes/references.bib
  - includes/packages.bib
csl: includes/vancouver.csl

editor_options:
  markdown:
    wrap: 72
    canonical: true

format:
  r3-theme-html:
    include-before-body:
      - "includes/contribute.html"
      - "includes/site-counter.html"

execute:
  freeze: auto
