/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Cabin');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

$font-family-monospace: "Fira Code", monospace;
$font-family-serif: "Nanum Gothic", sans-serif;
$font-family-sans-serif: "Nanum Gothic", sans-serif;
$headings-font-family: "Cabin", sans-serif;
$font-size-root: 18px;
$code-block-border-left: "grey60";

/*-- scss:rules --*/

pre {
  background-color: rgba(233, 236, 239, 0.65);
  border-left: 3px;
  border-left-style: solid;
  border-left-color: rgba(0,0,0,.1);
  padding-left: .6em;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: .875em;
  overflow: visible !important;
  padding: .4em;
}

code {
  color: inherit;
}
