/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans');
@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

$font-family-serif: "PT Sans", sans-serif;
$font-family-sans-serif: "PT Sans", sans-serif;
$headings-font-family: "Raleway", sans-serif;
$font-size-root: 22px;

/*-- scss:rules --*/
